/* css related to View/templats/header.php and Core/Controller.class.php : public function header() */
body
{
	margin: 0;
}

/* menu background (grey) */
.header
{
	height: 2vw;
	padding: 10px 20px;
	margin-right: auto;
	margin-left: auto;
	background-color: #24292E;
}

/* menu width */
.container-header
{

}

/* remove ugly underlining from href links */
a:link
{
	text-decoration: none;
}

.bar
{
/* add transparent background, credits : https://codepen.io/pirrera/pen/zapbh */
	text-align: center;
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

/* navbar: color in pink menu items */
.navbar-brand
{
	padding: 18px;
	font-family: "Open Sans";
	text-transform:uppercase;
	color: rgba(0, 35, 122, 0.5);
	font-size: 18px;
	text-decoration: none;
	display: block;
	display: inline-block;
	color: black;
/* nsloz transition
  -webkit-transition: color 0.5s, font-size 1s;
  	 -moz-transition: color 0.5s, font-size 1s;
   	   -o-transition: color 0.5s, font-size 1s;
   	      transition: color 0.5s, font-size 1s;*/
}

/* make it shine in white on cursor hover */
.navbar-brand:hover
{
	box-shadow: hidden;
/*	font-size: 40px; */
	color: white;
	text-shadow: 0 0 3vw white;
}

/* box-shadow is to outline a category */
.navbar-current
{
	box-shadow: 0 2px 0 black;
}

.navbar-current:hover
{
	box-shadow: 0 2px 0 white;
}


/* slight padding between menu bar and content */
.container
{
	padding-top: 10px;
}

/* logo picture */
.logo-picture {
	position:absolute; top:3vw; left:0;
	padding-top: 2vw;/*maybe useless ?*/
	width: 10%;
	filter: brightness(20%);
	opacity: 0.3;
    filter: alpha(opacity=30); /* For IE8 and earlier */
}
